## SQL and SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [3]:
### Connect to the SQLite Database

connection = sqlite3.connect('example.db')
connection

In [4]:
## creating the cursor object
cursor = connection.cursor()

In [5]:
## Creating a table
cursor.execute(
    '''
    Create table  if not exists employees(
        id Integer Primary key,
        name Text Not Null,
        age Integer,
        department Text
    )
    '''
)

## Commit the changes
connection.commit()

In [6]:
cursor.execute(
    '''
    Select * from employees
    '''
)

In [7]:
## Inserting the data in Sqlit3 table
cursor.execute('''
    Insert into employees(name,age,department) values ('Madhuranjan',24,'ASE')
    '''
)

cursor.execute('''
    Insert into employees(name,age,department) values ('Kumar',24,'SE')
    '''
)

cursor.execute('''
    Insert into employees(name,age,department) values ('John',32,'SDE')
    '''
)

connection.commit()

In [10]:
cursor.execute(
    '''
    Select * from employees
    '''
)
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Madhuranjan', 24, 'ASE')
(2, 'Kumar', 24, 'SE')
(3, 'John', 32, 'SDE')

In [11]:
## Updtating the data into data

cursor.execute(
    '''
    UPDATE employees Set age=25 where name='Madhuranjan'
    '''
)

connection.commit()

In [12]:
cursor.execute(
    '''
    Select * from employees
    '''
)
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Madhuranjan', 25, 'ASE')
(2, 'Kumar', 24, 'SE')
(3, 'John', 32, 'SDE')