### Sets

Sets are built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow any specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
## Create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [5]:
my_set = set([1,2,3,4,5,5,4])
print(my_set)
print(type(my_empty_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [9]:
## Basic Set Operations
## Adding and Removing elements
my_set.add(6)
my_set.add(6) # It will be ignored as 6 is already there in the set
my_set

{1, 2, 3, 4, 5, 6}

In [10]:
my_set.remove(3)
my_set

{1, 2, 4, 5, 6}

In [11]:
my_set.remove(10) #key error as 10 is not there in the set

KeyError: 10

In [12]:
my_set.discard(10) # removes an element if it is there in the set else not do anything

In [13]:
my_set

{1, 2, 4, 5, 6}

In [14]:
removed_element = my_set.pop()
print(removed_element)
my_set

1

{2, 4, 5, 6}

In [15]:
## Clear all the elements
my_set.clear()
print(my_set)

set()

In [17]:
## Set membership test
my_set = {1,2,3,4,5,6}
print( 3 in my_set) # True
print(10 in my_set) #False

True
False

In [19]:
### Mathematical operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

#Union Operatiion
union_set = set1.union(set2)
print(union_set)

#Intersection Operation
intersection_set = set1.intersection(set2)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [20]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [21]:
## Symmetric Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [23]:
## Set Methods
set1 = {1,2,3}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2))

# is superset
print(set1.issuperset(set2))

False
False

In [24]:
lst = [1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [25]:
## Counting unique words in text

text = "In this tuitorial we are discussing about sets"
words = text.split()

## Convert list of words to set get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'we', 'discussing', 'In', 'are', 'sets', 'about', 'this', 'tuitorial'}
8