### Variables
Variables are the fundamental unit in programming used to store data that can be referenced and manipulated in a program. In python, Variables are created when we assign avalue to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable

Outline:
* Introduction to Variables
* Declaring and assigning values to the variables
* Naming Conventions
* Understanding Variables types
* Type checking and conversion
* Dynamic Typing
* Practical Examples and Common Errors

In [1]:
a = 100
print(a)

100

In [2]:
# Declaring and Assigning values to the variables

age = 24
height = 5.9
name = "Madhurnajan"
isStudent = True

#printing the variables
print("age : ",age)
print("Height : ",height)
print("name: ",name)
print("isStudent :",isStudent)

age :  24
Height :  5.9
name:  Madhurnajan
isStudent : True

In [3]:
## Naming conventions of the variables
# 1. The variale name should be descriptive
# 2. The variable name must start with a letter or an '_' and contains letters,numbers and underscores
# 3. variables name are case sensitive

#valid variable names
first_name = "Madhuranjan"
last_name = "Kumar"

#invalid variable name
# 2age = 24
# first-name = "Madhuranjan"
# @name = "Madhuranjan"

In [4]:
## Understanding variables type
# Python is dynamically type, i.e., type of variable is determined at the runtime
age = 25 #int
height = 5.9 #float
name = "Madhhu" # str
is_student = True #bool


print(type(name))

<class 'str'>

In [5]:
## Type Checking and Conversion
type(height)

float

In [6]:
age = 25
print(type(age))

#Type Conversion
age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [7]:
age = '24'
int(age)

24

In [8]:
name = "Madhu"
int(name)

ValueError: invalid literal for int() with base 10: 'Madhu'

In [9]:
height = 5.11
print(type(height))

<class 'float'>

In [10]:
int(height)

5

In [13]:
## Input
age = input("What is the age? ")
print(age,type(age))

23 <class 'str'>

In [14]:
## Input
age = int(input("What is the age? "))
print(age,type(age))

23 <class 'int'>

In [15]:
## Simple Calculator
num1 = float(input("Enter first Number: "))
num2 = float(input("Enter Second Number: "))

sum = num1 + num2
difference = num1 - num2
product = num1*num2
quotient = num1 / num2

print("sum : ",sum)
print("Difference : ",difference)
print("Produt : ",product)
print("quotient : ",quotient)

sum :  25.0
Difference :  15.0
Produt :  100.0
quotient :  4.0