# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(f"First Element: {tup[0]}")
print(F"Middle Element: {tup[len(tup)//2]}")
print(f"Last Element: {tup[-1]}")

First Element: 1
Middle Element: 6
Last Element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [12]:
print(f"First three elements of the tuple are: {tup[:3]}")
print(f"The last three elements of the tuple are: {tup[-4:-1]}")
print(F"The elements from the index 2 to 5 in the tuple are: {tup[2:5]}")

First three elements of the tuple are: (1, 2, 3)
The last three elements of the tuple are: (7, 8, 9)
The elements from the index 2 to 5 in the tuple are: (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [16]:
nes_tup = ((1,2,3),
           (4,5,6),
           (7,8,9))

print(nes_tup)
print(F"The element at the second row and the third column is: {nes_tup[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
The element at the second row and the third column is: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [18]:
tup_1 = (1,2,3)
tup_2 = (4,5,6)

print(tup_1+tup_2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [21]:
dup_tuple = (1,1,2,3,3,4,4,4,4,5,6,6)
print(f"The count of the 6 in the tuple: {dup_tuple.count(6)}")
print(f"The count of the 4 in the tuple: {dup_tuple.count(4)}")
print(f"The Index of first occurance of the element 4 is: {dup_tuple.index(4)}")

The count of the 6 in the tuple: 2
The count of the 4 in the tuple: 4
The Index of first occurance of the element 4 is: 5

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [22]:
tup_3 = (1,2,"Madhu","Apple",False)
var_1,var_2,var_3,var_4,var_5 = tup_3
print(var_1,var_2,var_3,var_4,var_5)

1 2 Madhu Apple False

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [23]:
pos_int_list = [1,2,3,4,5]
##Converting to the tuple
pos_int_tup = tuple(pos_int_list)
print(pos_int_tup)
print(type(pos_int_tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [24]:
nes_tup = ((1,2,3),
           (4,5,6),
           (7,8,9))

print(nes_tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [25]:
init_tup = (1,2,3,4,5)
convt_list = list(init_tup)
convt_list.append(6)
final_tup = tuple(convt_list)
print(final_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [26]:
name_tup = ("M","a","d","h","u"," ","R","a","n","j","a","n")
joined_tup = "".join(name_tup)
print(joined_tup)

Madhu Ranjan

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [27]:
d = {
    (1, 2): 10, 
    (3, 4): 20, 
    (5, 6): 30, 
    (7, 8): 40
}

print(d)

{(1, 2): 10, (3, 4): 20, (5, 6): 30, (7, 8): 40}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [1]:
nes_tup = ((1,2,3),
           (4,5,6),
           (7,8,9))

for i in range(len(nes_tup)):
    for j in range(len(nes_tup[i])):
        print(nes_tup[i][j],end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [1]:
dup_tuple = (1,1,2,3,3,4,4,4,4,5,6,6)
s = set(dup_tuple)
print(s)

{1, 2, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
def find_min_max_sum(tup):
    minimun = min(tup)
    maximun = max(tup)
    summation = sum(tup)

    return minimun,maximun,summation


find_min_max_sum((1,2,3))

(1, 3, 6)