# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [3]:
s = {1,2,3,4,5,6,7,8,9,10}
print(f"Created Set is: {s}")
print(type(s))

Created Set is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [5]:
## Adding the number 11 and removing the number 1 from the created set
s.add(11)
print(f"Set after adding the number 11: {s}")
s.remove(1)
print(f"Set after removing the number 1: {s}")

Set after adding the number 11: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Set after removing the number 1: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [9]:
s_1 = {1,2,3,4,5}
s_2 = {2,4,6,8,10}

print(f"Union of {s_1} and {s_2}: {s_1.union(s_2)}")
print(f"Intersection of {s_1} and {s_2}: {s_1.intersection(s_2)}")
print(f"The difference of {s_1} and {s_2}: {s_1.difference(s_2)}")
print(f"The symmetric difference of {s_1} and {s_2}: {s_1.symmetric_difference(s_2)}")

Union of {1, 2, 3, 4, 5} and {2, 4, 6, 8, 10}: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection of {1, 2, 3, 4, 5} and {2, 4, 6, 8, 10}: {2, 4}
The difference of {1, 2, 3, 4, 5} and {2, 4, 6, 8, 10}: {1, 3, 5}
The symmetric difference of {1, 2, 3, 4, 5} and {2, 4, 6, 8, 10}: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [12]:
set_comp = {i**2 for i in range(1,11)}
print(set_comp)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [13]:
even_set = {i for i in s if i%2==0}
print(even_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a list with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [15]:
duplicate_list = [1,1,2,2,3,4,4,5,5,5,5,6]
print(f"Dunplicate list: {duplicate_list}")
##Making the unique set
unique_set = set(duplicate_list)
print(f"Set after removing the duplicates from the list: {unique_set}")

Dunplicate list: [1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 5, 6]
Set after removing the duplicates from the list: {1, 2, 3, 4, 5, 6}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [17]:
s_1 = {1,2,3,4,5}
s_2 = {1,2,3}

print(f"{s_2} is the subset of {s_1}: {s_2.issubset(s_1)}")
print(f"{s_1} is the Superset of {s_2}: {s_1.issuperset(s_2)}")

{1, 2, 3} is the subset of {1, 2, 3, 4, 5}: True
{1, 2, 3, 4, 5} is the Superset of {1, 2, 3}: True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [18]:
f_set_elements = [1,2,3,4,5,6]
f_set = frozenset(f_set_elements)

print(f"Frozen Set: {f_set}")

Frozen Set: frozenset({1, 2, 3, 4, 5, 6})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [19]:
s = {1,2,3,4,5}
##Converting the set to the list
l = list(s)
## Appending the element 6 to the list
l.append(6)
## Connverting it back to the set
s = set(l)
print(s)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [21]:
set_dict = {
    {1,2}: 3,
    {4,5}: 6,
    {7,8}: 9,
}

print(set_dict)

TypeError: unhashable type: 'set'

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [25]:
s = {1,2,3,4,5,6,7,8,9,10}
for i in s:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [26]:
s = {1,2,3,4,5,6,7,8,9,10}
print(f"Initial Set: {s}")
while len(s) != 0:
    s.pop()
    print(f"set after removing element: {s}")

Initial Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set after removing element: {2, 3, 4, 5, 6, 7, 8, 9, 10}
set after removing element: {3, 4, 5, 6, 7, 8, 9, 10}
set after removing element: {4, 5, 6, 7, 8, 9, 10}
set after removing element: {5, 6, 7, 8, 9, 10}
set after removing element: {6, 7, 8, 9, 10}
set after removing element: {7, 8, 9, 10}
set after removing element: {8, 9, 10}
set after removing element: {9, 10}
set after removing element: {10}
set after removing element: set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [28]:
s_1 = {1,2,3,4,5}
s_2 = {2,4,6,8,10}

print(f"First Set: {s_1}")
print(f"Second Set: {s_2}")

symm_diff = s_1.symmetric_difference(s_2)
for i in symm_diff:
    s_1.add(i)


print(f"First set after adding the symmetric difference: {s_1}")

First Set: {1, 2, 3, 4, 5}
Second Set: {2, 4, 6, 8, 10}
First set after adding the symmetric difference: {1, 2, 3, 4, 5, 6, 8, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [29]:
s = {1,2,3,4,5,6}
for i in range(3,10):
    print(f"{i} is present in set {s}: {i in s}")

3 is present in set {1, 2, 3, 4, 5, 6}: True
4 is present in set {1, 2, 3, 4, 5, 6}: True
5 is present in set {1, 2, 3, 4, 5, 6}: True
6 is present in set {1, 2, 3, 4, 5, 6}: True
7 is present in set {1, 2, 3, 4, 5, 6}: False
8 is present in set {1, 2, 3, 4, 5, 6}: False
9 is present in set {1, 2, 3, 4, 5, 6}: False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [30]:
s = {(1,2),(3,4),(5,6),(7,8)}
print(s)

{(1, 2), (3, 4), (7, 8), (5, 6)}